<div class="container">
  <div class="role-selection">

    <p>Select your role to login</p>
    <!-- <div class="roles">
      <a *ngFor="let role of roles" href="{{role.link}}">
          <button (click)="selectRole(role)">
          <i [class]="role.icon"></i> {{ role.name }}
          </button>
      </a>
    </div> -->

    <div class="mb-3">
     
      <select id="role" class="form-control" name="role" required>
        <option value="" disabled selected>Select your role</option>
        <option value="ADMIN">Admin</option>
        <option value="STUDENT">Student</option>
        <option value="TEACHER">Teacher</option>
      </select>
    </div>

  </div>
  <div class="login-form">
    <h2>Welcome Back</h2>
    <p>Please enter your credentials to access your account</p>
    <form >
      <input type="text" placeholder="Enter your email" name="username" required>
      <input type="password" placeholder="Enter your password"  name="password" required>
      <button type="submit">Login</button>
    </form>
    <a href="#">Forgot password? <strong>Reset here</strong></a>
    <p>Don't have an account? <a href="/registration"><span>Registration</span></a></p>
  </div>

</div>


