
    
<div class="body">
<div class="login-form">
  <h2>Welcome Back</h2>
  <p>Please enter your credentials to access your account</p>
  <form >
    <label for="email">Email:</label>
    <input
      id="email"
      type="email"
      [(ngModel)]="email"
      name="email" placeholder="Enter your email"
      required
    />
    <label for="password">Password:</label>
    <input
      id="password"
      type="password"
      [(ngModel)]="password"
      name="password" placeholder="Enter your password"
      required
    />
    <button (click)="onLogin()">Login</button>
    <!-- <button type="submit">Login</button> -->

    <!-- <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p> -->
  </form>
  <!-- <a href="#">Forgot password? <strong>Reset here</strong></a>
    <p>Don't have an account? <a href="/registration"><span>Registration</span></a></p> -->
</div>
</div>

