
<!-- <div class="body">

  <div class="row">
       <div class="col-3">
          <app-admin-dashboard></app-admin-dashboard>
      </div>


      <div class="col-9">
        <h1>Personal Information Details</h1>
          <div class="profile-card">
            <div class="row">
              <div class="col-4">
                <img src="UserImage/girlUser.jpg" alt="Add Profile picture">
                <h2>Saima Sultana</h2>
                <h4>Admin ID: 10001</h4>
              </div>

              <div class="col-8">
                <div class="info">
                  <p>👨‍👩‍👧 Father's Name: <span>Md. Noor E Ahmed</span></p>
                  <p>👩 Mother's Name: <span>Ashgary Begum</span></p>
                  <p>📧 Email: <span>saima&#64;gmail.com</span></p>
                  <p>📞 Phone No: <span>0198675534</span></p>
                  <p>🚺 Gender: <span>Female</span></p>
                  <p>🌍 Nationality: <span>Bangladeshi</span></p>
                </div>
              </div>

            </div>






                <a href="/add-admin" class="btn ">Edit Profile</a>


            </div>

      </div>

   </div>
</div>



 -->
 <div class="body">

  <div class="row">
       <div class="col-3">
          <app-admin-dashboard></app-admin-dashboard>
      </div>
      <div class="col-9">
        <h1>Personal Information </h1>
          <div class="profile-card">
            <div class="row">
              <div class="col-md-4 mb-4" *ngFor="let user of users"></div>
              <div class="col-4">
                <img src="UserImage/girlUser.jpg" alt="Add Profile picture">
                <h2>{{ users.name }}</h2>
                <h4>{{ users.user_id }}</h4>
              </div>
              <div class="col-8">
                <div class="info">
                  <p>👨‍👩‍👧 Father's Name: <span>{{ users.fatherNmae }}</span></p>
                  <p>👩 Mother's Name: <span>{{ users.motherNmae }} </span></p>
                  <p>📧 Email: <span>{{ users.email }} </span></p>
                  <p>📞 Phone No: <span>{{ users.phone }} </span></p>
                  <p>🚺 Gender: <span>{{ users.gender }} </span></p>
                  <p>🌍 Nationality: <span>{{ users.nationality }} </span></p>
                </div>
              </div>

            </div>






                <a href="/add-admin" class="btn ">Edit Profile</a>


            </div>

      </div>

   </div>
</div>

