<div class="sidebar">
  <ul class="list-unstyled">
      <li>
          <a href="/profile">
            <i class="bi bi-person-circle" width="25" height="25"></i> My Profile
              <!-- <i class="bi bi-chevron-right" style="float: right;"></i> -->
          </a>
      </li>
      <li>
          <a href="/myCourses">
            <i class="bi bi-incognito"></i> Courses
          </a>
      </li>

        <li>
          <a href="/studentlist">
             <i class="bi bi-mortarboard-fill"></i> Students

          </a>
      </li>
      <li><a href="/feedback">  <i class="bi bi-wechat"></i>Feedback</a></li>

      <li><a href="#">
          <i class="bi bi-journal-text"></i> Lessons</a>
        </li>
         <li><a href="addMarks">
          <i class="bi bi-journal-text"></i> Marks</a>
        </li>

          <li><a href="#">
            <i class="bi bi-play-btn-fill"></i> Record Classes</a>
          </li>


  </ul>
</div>
<div  class="content">

</div>


