<div class="body">
  <h1>Personal Information</h1>
  <div class="row">
    <div class="col-3">
      <div class="profile-card">
        <img [src]="userInfo?.avatarUrl" alt="Add Profile picture">
        <h2>{{ userInfo?.name }}</h2>
        <h4>User ID: {{ userInfo?.id }}</h4>
      </div>
    </div>
    <div class="col-9">

      <div class="info">
        <p>👨‍👩‍👧 Father's Name: <span>{{ userInfo?.fatherName }}</span></p>
        <p>👩 Mother's Name: <span>{{ userInfo?.motherName }}</span></p>
        <p>📧 Email: <span>{{ userInfo?.email }}</span></p>
        <p>📞 Phone No: <span>{{ userInfo?.phone }}</span></p>
        <p>🌍 Address: <span>{{ userInfo?.address }}</span></p>
      </div>
      <div class="d-flex justify-content-between">

        <button class="btn btn-warning" (click)="onEditUserInfo(currentUser)">
          <i class="bi bi-lock-fill me-1"></i>Edit Profile
        </button>

        <button class="btn btn-warning" (click)="onChangePassword()">
          <i class="bi bi-lock-fill me-1"></i>Change Password
        </button>

      </div>
    </div>
  </div>
</div>
