<fieldset>
  <form (ngSubmit)="submitForm()">
    <h1>Enrollment Form</h1>
    <div>
      <label for="name">Full Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="enrollmentData.fullName"
        required
      />
    </div>
    <!-- <br /> -->

    <div>
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="enrollmentData.email"
        required
      />
    </div>
    <!-- <br /> -->


    <div>
      <label for="mobile">Mobile No:</label>
      <input
        type="text"
        id="mobile"
        name="mobile"
        [(ngModel)]="enrollmentData.mobile"
        required
      />
    </div>
    <!-- <br /> -->

    <div>
      <label for="cmobile">Confirm Mobile No:</label>
      <input
        type="text"
        id="cmobile"
        name="cmobile"
        [(ngModel)]="enrollmentData.confirmMobile"
        required
      />
    </div>
    <!-- <br /> -->

    <div>
      <label for="payment">Payment Method:</label>
      <input
        type="radio"
        name="pay"
        id="bkash"
        value="bkash"
        [(ngModel)]="enrollmentData.paymentMethod"
      />bKash <br />
      <input
        type="radio"
        name="pay"
        id="rocket"
        value="rocket"
        [(ngModel)]="enrollmentData.paymentMethod"
      />Rocket <br />
      <input
        type="radio"
        name="pay"
        id="dcard"
        value="dcard"
        [(ngModel)]="enrollmentData.paymentMethod"
      />Debit Card
    </div>
    <!-- <br /> -->

    <button type="submit" class="btn-success">Submit</button>
  </form>
</fieldset>
