<div class="container">
    <fieldset>
    <h1>{{ isUpdate ? "Edit Course" : "Add Course" }}</h1>
    <form (ngSubmit)="onSubmit()" #courseForm="ngForm">
      <label for="name">Name:</label><br />
      <input type="text" name="name" [(ngModel)]="course.name" required /><br />

       <!-- Course Name -->
       <!-- <div class="form-group">
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          [(ngModel)]="course.name"
          #name="ngModel"
          required
          minlength="3"
          class="form-control"
        />
        <div *ngIf="name.invalid && name.touched" class="text-danger">
          <small *ngIf="name.errors?.required">Name is required.</small>
          <small *ngIf="name.errors?.minlength">Minimum 3 characters required.</small>
        </div>
      </div> -->




     <label for="startDate">Start Date</label><br>
     <input type="date" name="startDate" [(ngModel)]="course.startDate" required /><br />

     <label for="teacher">Teacher</label><br>
     <input type="text" name="teacher" [(ngModel)]="course.teacher_id" required /><br />

     <label for="price">Price</label><br>
     <input type="text" name="price" [(ngModel)]="course.price" required /><br />


     <label for="duration">Course Duration</label><br>
     <input type="text" name="duration" [(ngModel)]="course.duration" required /><br />

     <label for="description">Description:</label><br />
     <textarea [(ngModel)]="course.description" name="description" required></textarea><br />

     <label for="image">Course Image</label><br>
     <input type="text" name="image" [(ngModel)]="course.image" required /><br />

      <button type="submit" class="btn btn-success">{{ isUpdate ? "Update" : "Add" }}</button>
    </form>
  </fieldset>
  </div>



