<div class="container">
  <fieldset>
    <h1>{{ isUpdate ? "Edit Course" : "Add Course" }}</h1>
    <form (ngSubmit)="onSubmit()" #courseForm="ngForm">
      <label for="teacher">Teacher</label><br />
      <select name="teacher" [(ngModel)]="cor.teacherId" required style="width: 100%;">
        <option *ngFor="let teacher of teachers" [value]="teacher.id">
          {{ teacher.id }} {{ teacher.name }} 
        </option>
      </select><br />

      <label for="name">Name:</label><br />
      <input type="text" name="name" [(ngModel)]="cor.name" required /><br />

      <label for="price">Price</label><br />
      <input type="text" name="price" [(ngModel)]="cor.price" required /><br />

      <label for="startDate">Start Date</label><br />
      <input type="date" name="startDate" [(ngModel)]="cor.startDate" required /><br />

      <label for="duration">Course Duration</label><br />
      <input type="text" name="duration" [(ngModel)]="cor.duration" required /><br />

      <label for="description">Description:</label><br />
      <textarea [(ngModel)]="cor.description" name="description" required></textarea><br />

      <label for="image">Course Image</label><br />
      <input type="text" name="image" [(ngModel)]="cor.image" required /><br />

      <button type="submit" class="btn btn-success">
        {{ isUpdate ? "Update" : "Add" }}
      </button>
    </form>
  </fieldset>
</div>